@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  min-height: 100%;
  overflow: hidden;
}

body {
  height: calc(100vh);
  color: rgba(255, 255, 255, .75);
  font-family: 'Montserrat', monospace;
  background-color: rgb(25, 25, 25);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

svg {
  fill: rgb(255, 255, 255);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.line-typewriter {
  position: relative;
  top: 50%;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}


.anim-typewriter {
  animation: typewriter 4s steps(30) 1s 1 normal both,
    blinkTextCursor 600ms steps(30) 10 normal forwards;
}


@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}